{% extends 'site/_layout/master.html.twig' %}

{% block content %}
    <div class="container-fluid default-form-container" id="scroll-to-container">
        <div class="row border-top-brown">
            <section class="col-12 col-md-4 text-center p-lg-5 m-auto">
                <h3 class="p-3">Przypomnij hasło</h3>

                {{ form_start(form) }}
                    <div class="form-group mt-5">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {
                            attr: {
                                'class': 'form-control' ~ (form_errors(form.email) ? ' is-invalid'),
                                'data-rule-required': 'true',
                                'data-rule-email': 'true',
                                'data-rule-maxlength': '64'
                            }
                        }) }}
                    </div>
                    <div class="invalid-feedback d-block mt-4">
                        {{ form_errors(form.email) }}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Przypomnij hasło" />
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'site/_partials/jquery_validate.html.twig' %}

    <script>
        $(document).ready(function () {
            const form = $('form[name="{{ form.vars.full_name }}"]');

            const fields = {
                email: '{{ form.email.vars.full_name }}',
            };

            $(form).validate({
                messages: {
                    [fields.email]: {
                        required: 'To pole nie może być puste.',
                        email: 'Ta wartość nie jest prawidłowym adresem email.',
                        maxlength: 'Podana wartość jest za długa.',
                    },
                },
                errorPlacement: function (error, element) {
                    $(element).parent().next().html(error.html())
                },
                success: function (label, element) {
                    $(element).parent().next().html(null)
                },
            });
        });
    </script>
{% endblock %}

