{% extends 'site/_layout/master.html.twig' %}

{% block content %}
    <div class="container-fluid default-form-container" id="scroll-to-container">
        <div class="row border-top-brown">
            <section class="col-12 col-md-4 text-center p-5 m-auto">
                <h3 class="p-3">Zarejestruj się!</h3>

                {{ form_start(form) }}
                    <div class="form-group mt-5">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {
                            attr: {
                                'class': 'form-control' ~ (form_errors(form.email) ? ' is-invalid'),
                                'data-rule-required': 'true',
                                'data-rule-email': 'true',
                                'data-rule-maxlength': '64'
                            }
                        }) }}
                    </div>
                    <div class="invalid-feedback d-block mt-4">
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group mt-5">
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first, {
                            attr: {
                                class: 'form-control' ~ (form_errors(form.password.first) ? ' is-invalid'),
                                'data-rule-required': 'true',
                                'data-rule-password': 'true',
                                'data-rule-maxlength': '64'
                            }
                        }) }}
                    </div>
                    <div class="invalid-feedback d-block mt-4">
                        {{ form_errors(form.password.first) }}
                    </div>
                    <div class="form-group mt-5">
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second, {
                            attr: {
                                class: 'form-control' ~ (form_errors(form.password.first) ? ' is-invalid'),
                                'data-rule-required': 'true',
                                'data-rule-equalTo': '#' ~ form.password.first.vars.id
                            }
                        }) }}
                    </div>
                    <div class="invalid-feedback d-block mt-4">
                        {{ form_errors(form.password.second) }}
                    </div>
                    <div class="form-group mt-5">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName, {
                            attr: {
                                class: 'form-control' ~ (form_errors(form.firstName) ? ' is-invalid'),
                                'data-rule-required': 'true',
                                'data-rule-maxlength': '64',
                                'data-rule-minlength': '2'
                            }
                        }) }}
                    </div>
                    <div class="invalid-feedback d-block mt-4">
                        <small>{{ form_errors(form.firstName) }}</small>
                    </div>
                    <div class="form-group mt-5">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName, {
                            attr: {
                                class: 'form-control' ~ (form_errors(form.lastName) ? ' is-invalid'),
                                'data-rule-required': 'true',
                                'data-rule-maxlength': '64',
                                'data-rule-minlength': '2'
                            }
                        }) }}
                    </div>
                    <div class="invalid-feedback d-block mt-4">
                        {{ form_errors(form.lastName) }}
                    </div>
                    <div class="form-group mt-5">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone, {
                            attr: {
                                class: 'form-control' ~ (form_errors(form.phone) ? ' is-invalid'),
                                'data-rule-required': 'true',
                                'data-rule-maxlength': '16',
                                'data-rule-minlength': '4'
                            }
                        }) }}
                    </div>
                    <div class="invalid-feedback d-block mt-4">
                        {{ form_errors(form.phone) }}
                    </div>
                    <div class="form-check mt-5 text-start">
                        <label class="form-check-label" for="rodoCheckBox">
                            <input type="checkbox" class="form-check-input" name="rodo_checkbox" id="rodoCheckBox" data-rule-required="true">
                            <span><small><strong>*</strong> Akceptuje regulamin serwisu, a także zapoznałem/łam się z polityką prywatności sklepu internetowego.</small></span>
                        </label>
                        <div class="invalid-feedback text-center d-block mt-4"></div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Stwórz konto" />
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'site/_partials/jquery_validate.html.twig' %}

    <script src="/script/jquery.mask.min.js"></script>

    <script>
        $(document).ready(function () {
            const form = $('form[name="{{ form.vars.full_name }}"]');

            const fields = {
                email: '{{ form.email.vars.full_name }}',
                password: '{{ form.password.first.vars.full_name }}',
                passwordConfirmation: '{{ form.password.second.vars.full_name }}',
                firstName: '{{ form.firstName.vars.full_name }}',
                lastName: '{{ form.lastName.vars.full_name }}',
                phone: '{{ form.phone.vars.full_name }}',
                rodoCheck: 'rodo_checkbox'
            };

            $('[name="{{ form.phone.vars.full_name }}"]').mask("999 999 999");

            $(form).validate({
                messages: {
                    [fields.email]: {
                        required: 'To pole nie może być puste.',
                        email: 'Ta wartość nie jest prawidłowym adresem email.',
                        maxlength: 'Podana wartość jest za długa.',
                    },
                    [fields.password]: {
                        required: 'To pole nie może być puste.',
                        password: 'Hasło musi składać sie z 8 znaków, w tym co najmniej jednej dużej litery, co najmniej jednej małej oraz co najmniej jednego znaku specjalnego lub liczby.',
                        maxlength: 'Podana wartość jest za długa.',
                    },
                    [fields.passwordConfirmation]: 'Podane hasła muszą być takie same.',
                    [fields.firstName]: {
                        required: 'To pole nie może być puste.',
                        maxlength: 'Podana wartość jest za długa.',
                        minlength: 'Podana wartość jest za krótka.',
                    },
                    [fields.lastName]: {
                        required: 'To pole nie może być puste.',
                        maxlength: 'Podana wartość jest za długa.',
                        minlength: 'Podana wartość jest za krótka.',
                    },
                    [fields.phone]: {
                        required: 'To pole nie może być puste.',
                        maxlength: 'Podana wartość jest za długa.',
                        minlength: 'Podana wartość jest za krótka.',
                    },
                    [fields.rodoCheck]: {
                        required: 'Ta zgoda jest wymagana.',
                    }
                },
                errorPlacement: function (error, element) {
                    $(element).parent().next().html(error.html())
                },
                success: function (label, element) {
                    $(element).parent().next().html(null)
                },
            });
        });
    </script>
{% endblock %}