{% extends 'site/_layout/master.html.twig' %}

{% block content %}
    <div class="container-fluid default-form-container" id="scroll-to-container">
        <div class="row border-top-brown">
            <section class="col-12 col-md-4 text-center p-5 m-auto">
                <h3 class="p-3">Zarezerwuj stolik</h3>

                {% if available_hours is not empty %}
                    {{ form_start(form) }}
                        <div class="form-group mt-5">
                            {{ form_label(form.day) }}
                            {{ form_widget(form.day, { attr: { class: 'form-control' } }) }}
                        </div>

                        <div class="form-group mt-5">
                            {{ form_label(form.hour) }}
                            {{ form_widget(form.hour, { attr: { class: 'form-control' } }) }}
                        </div>

                        <div class="form-group mt-5">
                            {{ form_label(form.firstName) }}
                            {{ form_widget(form.firstName, {
                                attr: {
                                    class: 'form-control' ~ (form_errors(form.firstName) ? ' is-invalid'),
                                    'data-rule-required': 'true',
                                    'data-rule-maxlength': '64',
                                    'data-rule-minlength': '2'
                                }
                            }) }}
                        </div>

                        <div class="invalid-feedback d-block mt-4">
                            {{ form_errors(form.firstName) }}
                        </div>

                        <div class="form-group mt-5">
                            {{ form_label(form.lastName) }}
                            {{ form_widget(form.lastName, {
                                attr: {
                                    class: 'form-control' ~ (form_errors(form.lastName) ? ' is-invalid'),
                                    'data-rule-required': 'true',
                                    'data-rule-maxlength': '64',
                                    'data-rule-minlength': '2'
                                }
                            }) }}
                        </div>

                        <div class="invalid-feedback d-block mt-4">
                            {{ form_errors(form.lastName) }}
                        </div>

                        <div class="form-group mt-5">
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone, {
                                attr: {
                                    class: 'form-control' ~ (form_errors(form.phone) ? ' is-invalid'),
                                    'data-rule-required': 'true',
                                    'data-rule-maxlength': '16',
                                    'data-rule-minlength': '4'
                                }
                            }) }}
                        </div>

                        <div class="invalid-feedback d-block mt-4">
                            {{ form_errors(form.phone) }}
                        </div>

                        <button type="submit" class="btn btn-primary">Zarezerwuj stolik</button>
                    {{ form_end(form) }}
                {% else %}
                    <strong>Brak wolnych miejsc!</strong>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'site/_partials/jquery_validate.html.twig' %}

    <script src="/script/jquery.mask.min.js"></script>

    {% if available_hours is not empty %}
        <script>
            function updateAvailableHoursSelect() {
                const $dayField = $('[name="{{ form.day.vars.full_name }}"]');
                const $hourField = $('[name="{{ form.hour.vars.full_name }}"]');

                const selectedDay = $dayField.val();
                const availableHours = $hourField.data('availableHours')[selectedDay];

                $hourField.find('option').remove().end();

                for (let i = 0; i < availableHours.length; i++) {
                    $hourField.append(`<option value="${availableHours[i]}">${availableHours[i]}:00</option>`)
                }
            }

            $(document).ready(function () {
                updateAvailableHoursSelect();

                const $dayField = $('[name="{{ form.day.vars.full_name }}"]');

                $dayField.on('change', function () {
                    updateAvailableHoursSelect();
                });

                const form = $('form[name="{{ form.vars.full_name }}"]');

                const fields = {
                    firstName: '{{ form.firstName.vars.full_name }}',
                    lastName: '{{ form.lastName.vars.full_name }}',
                    phone: '{{ form.phone.vars.full_name }}'
                };

                $('[name="{{ form.phone.vars.full_name }}"]').mask("999 999 999");

                $(form).validate({
                    messages: {
                        [fields.firstName]: {
                            required: 'To pole nie może być puste.',
                            maxlength: 'Podana wartość jest za długa.',
                            minlength: 'Podana wartość jest za krótka.',
                        },
                        [fields.lastName]: {
                            required: 'To pole nie może być puste.',
                            maxlength: 'Podana wartość jest za długa.',
                            minlength: 'Podana wartość jest za krótka.',
                        },
                        [fields.phone]: {
                            required: 'To pole nie może być puste.',
                            maxlength: 'Podana wartość jest za długa.',
                            minlength: 'Podana wartość jest za krótka.',
                        }
                    },
                    errorPlacement: function (error, element) {
                        $(element).parent().next().html(error.html())
                    },
                    success: function (label, element) {
                        $(element).parent().next().html(null)
                    },
                });
            });
        </script>
    {% endif %}
{% endblock %}
